<html layout:decorator="layout/base">
	<section layout:fragment="content">	
		
			<h5>Password change:</h5>
			
    			<div class="card amber">
    			
	    			<p>On successful change, you will be signed out to test your new password.</p> 
    
					<form class="form-horizontal" action="#" th:action="@{/change_password}" th:object="${request}" method="post">	
  					    
						<label for="old">Old password</label>
						<input type="password" name="old" />
					
						<label for="new1">New password</label>	
						<input type="password" name="new1" />
									
						<label for="new2">Confirm new password</label>
						<input type="password" name="new2" />	  
				
						<input type="submit" value="change" />
						<a href="/main">cancel</a>
				        
				    </form>
			 </div>
    </section>
</html>